
<h1>Exercicio Contador Property e Event Binding</h1>
<app-contador

[valorDoNumero]="valorInicial"
(valorMudou)="valorAtualizado($event)"
></app-contador><br>
<hr>



<!-- Event binding-->
<h1>Event Binding</h1><br>

<button (click)="onClickBotaoEmissor($event)"> Emitir informação de clique</button><br><br><br>

<button (click)="onClick($event)" (mouseenter)="passouMouse()">CLICK</button>
<input type="text" [value]="valorDoInput" (keyup)="DigitouAlgo($event)"><br><br>
Valor do Input: {{valorDoInput}}<br>

<hr>
<br>


<!-- Property binding-->

<h1>Property Binding</h1>
<h2> PALAVRA: {{palavra}}</h2><!--//proprity binding-->
<h2>Cor: {{color}}</h2><!--//proprity binding-->

<input type="text" [value]="initialValue"><br><br>

<button [disabled]="isDisabled">Clique aqui</button><br><br>

<br>

<p [attr.aria-label]="isDisabled ? 'Botão desabilitado' : accessibilityText">
    um texto qualquer.....
</p>

<br>

<img class="foto" [src]="imageURL">

